"""
Создайте в корне проекта файл .env из копии этого файла
и запишите параметры для подключения к базе данных.
И данные для регистрации администратора.
"""

SECRET_KEY=
DEBUG= True
DATABASE_NAME=django_project
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432


ADMIN_EMAIL=admin@sky.pro
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin