"""
Создайте в корне проекта файл .env из копии этого файла
и запишите параметры для подключения к базе данных
"""

SECRET_KEY=...........
DEBUG= True
DATABASE_NAME=django_project
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432